.metric-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.metric-value {
  margin-top: 10px;
  font-size: 50px;
  font-weight: bold;
}

.metric-card p {
  font-size: 2rem;   /* aumenta o tamanho do número */
  font-weight: bold;
  margin: 0;
  color: #111827;    /* cor mais escura para destaque */
}

.red {
  color: #ef4444;
}